@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
		 url("../fonts/gilroyextrabold.woff") format("woff");
		
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroylight.woff2") format("woff2"),
		 url("../fonts/gilroylight.woff") format("woff");
			
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	background-color: #ffffff;
}

.inner-page {
	color: #000000;
}

.inner-page h3 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.visually-hidden {
	position: absolute;
	left: -9000px;
}

.font-osl {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
}

.font-ge,
.button {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.font-gl {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}

.custom-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.button {
	position: relative;
	box-sizing: border-box;
	display: block;
	color: #000000;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	border: none;
	background-color: transparent;
	opacity: 0.99;
	padding: 0;
	margin: 0;
}

.button::before {
	position: absolute;
	top: 8px;
	left: 0;
	z-index: -1;
	display: block;
	content: "";
	width: 100%;
	height: 8px;
	background-color: #f0c52e;
}

.button:hover::before {
	display: none;
}

.button:hover {
	background-color: #f0c52e;
	cursor: pointer;
}

.button:active {
	color: rgba(0, 0, 0, 0.3);
}
.container {
	width: 1160px;
	margin: 0 auto;
}

.main-header {
	width: 1040px;
	margin: 0 auto;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	flex-wrap: wrap;
	background-color: #f7e296;
	padding-top: 42px;
	padding-right: 60px;
	padding-bottom: 40px;
	padding-left: 60px;
	min-height: 217px;
}

.inner-page .main-header {
	min-height: 104px;
}

.main-header a {
	color: #000000;
	text-decoration: none;	
}

.main-header a:hover,
.main-header a:focus {
	opacity: 0.6;
}

.main-header a:active,
.user-menu-secondary {
	opacity: 0.3;
}

.main-logo {
	position: absolute;
	top: 22px;
}
.main-logo:hover {
	opacity: 0.6;
}

.main-logo:active {
	opacity: 0.3;
}

.main-navigation {
	width: 1040px;
	margin-top: 33px;
}

.user-menu {
	display: flex;
	width: 500px;
}

.user-menu-logout a {
	margin-right: 20px;
}

.user-menu li{
	margin-left: 35px;
}
.user-menu li:first-child {
	margin: 0;
	flex-grow: 1;
}

.user-menu a {
	text-decoration: none;
}

.search-form {
	width: 440px;
}
.search-input {
	color: #000000;
	background-color: transparent;
	opacity: 0.3;
	border: none;
}

.search-input:hover {
	opacity: 0.6;
}

.search-input:focus {
	opacity: 1.0;
}

.search-button {
	color: #000000;
	background-color: transparent;
	border: 2px solid #000000;
}

.search-button:hover {
	color: #ffffff;
	background-color: #000000;
}

.search-button:active {
	color: rgba(255, 255, 255, 0.3);
}

.site-navigation {
	display: flex;
	align-items: flex-start;
}

.site-navigation-item {
	text-transform: uppercase;
	letter-spacing: 3px;
}

.site-navigation-catalog {
	width: 500px;
}

.site-navigation > li {
	margin-right: 38px;
}

.site-navigation > li:last-child {
	margin-right: 0;
	margin-left: auto;
}

.catalog-sub-menu {
	margin-top: 13px;
	display: flex;
	width: 1040px;
}

.catalog-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.catalog-list li {
	white-space: nowrap;
	margin-top: 6px;
	width: 200px;
}

.catalog-category-1 {
	width: 237px;
}

.info-block-container {
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
}

.info-block {
	width: 560px;
}

.info-block h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 54px;
	font-size: 47px;
	line-height: 48px;
	color: #000000;

}

.info-block p {
	margin: 0;
	padding: 0;
	color: #464646;
	margin-top: -10px;
	margin-bottom: 40px;
}

.info-block .button {
	width: 260px;
	margin-top: 60px;
}


.delivery {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 70px;
}

.delivery li {
	font-size: 16px;
	line-height: 40px;
	color: #000000;
}

.main-footer {
	color: #ffffff;
	background-color: #464646;
	min-height: 193px;
	margin-top: 90px;
	padding-top: 65px;
	padding-bottom: 65px;
}

.main-footer .container {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.main-footer .main-logo {
	position: static;
	order: -2;
	width: 163px;
	height: 35px;
}

.footer-address,
.footer-tel {
	margin: 0;
	padding: 0;
	width: 210px;
	display: inline-block;
	vertical-align: top;
}

.footer-tel {
	text-align: right;
	order: 1;
}

.main-footer-menu {
	width: 997px;
	order: -1;
	justify-content: flex-end;
	margin-bottom: 38px;
}

.main-footer-menu li:first-child {
	text-align: right;
}

.main-footer-menu li {
	margin-left: 40px;
}

.main-footer-navigation {
	flex-grow: 1;
	align-self: center;
	justify-content: center;
	margin-bottom: 56px;
}

.main-footer-navigation li:last-child{
	margin: 0;
}

.main-footer a {
	text-decoration: none;
}

.main-footer-menu a {
	color: rgba(255, 255, 255, 0.7);
}

.main-footer-menu a:hover {
	color: rgba(255, 255, 255, 1);
}

.main-footer-menu a:active {
	color: rgba(255, 255, 255, 0.3);
}

.main-footer-navigation a {
	color: rgba(255, 255, 255, 1);
}

.main-footer-navigation a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.main-footer-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.social-links {
	width: 1103px;
	display: flex;
	justify-content: center;
	order: 2;
	padding-left: 30px;
}

.social-links li {
	margin-right: 23px;
}

.social-links li:last-child {
	margin-right: 0;
}

.social-links a {
	display: block;
	font-size: 0;
	width: 32px;
	height: 32px;
	opacity: 0.3;
	background-color: #464646;
	background-repeat: no-repeat;
}

.social-links-facebook a {
	background-image: url("../img/social-fb.svg");
}

.social-links-instagram a {
	background-image: url("../img/social-inst.svg");
}

.social-links-twitter a {
	background-image: url("../img/social-twitter.svg");
}

.social-links a:hover {
	opacity: 0.6;
}

.social-links a:active {
	opacity: 0.1;
}

.htmlacademy-logo {
	display: block;
	width: 27px;
	height: 35px;
	background-color: transparent;
	background-image: url("../img/htmlacademy-logo.svg");
	background-repeat: no-repeat;
	order: 2;
}

.htmlacademy-logo:hover {
	opacity: 0.6;
}

.htmlacademy-logo:active {
	opacity: 0.3;
}

.popup {
	position: relative;
}

.write-us {
	width: 760px;
	height: 378px;
	padding-top: 100px;
	padding-right: 100px;
	padding-bottom: 75px;
	padding-left: 100px;

}

.personal-info,
.user-message {
	margin: 0;
	padding: 0;
}

.user-message {
	margin-bottom: 30px;
}

.personal-info {
	width: 360px;
	float:left;
	margin-bottom: 40px;
}

.personal-info:first-child {
	margin-right: 40px;
}

.write-us label {
	float: left;
	color: #000000;
	width: 100%;
	margin-bottom: 8px;
}

.personal-info input {
	width: 100%;
}

.write-us textarea {
	width: 100%;
	min-height: 156px;
}

.write-us input,
.write-us textarea {
	box-sizing: border-box;
	border: none;
	background-color: #f2f2f2;
	opacity: 0.5;
	padding-top: 16px;
	padding-right: 20px;
	padding-bottom: 16px;
	padding-left: 20px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
}

.write-us input:hover,
.write-us textarea:hover {
	opacity: 0.8;
}

.write-us input:invalid,
.write-us textarea:invalid {
	opacity: 0.5;
	background-color: #edb5b5;
}

.write-us input:focus,
.write-us textarea:focus {
	opacity: 1;
	background-color: #ffffff;
	border: 3px solid #f0c52e;
	outline: none;
	padding-top: 13px;
	padding-right: 17px;
	padding-bottom: 13px;
	padding-left: 17px;
}

.write-us input::-webkit-input-placeholder, /* Edge */
.write-us input:-ms-input-placeholder,  /* Internet Explorer 10-11 */
.write-us input::placeholder,
.write-us textarea::-webkit-input-placeholder, /* Edge */
.write-us textarea:-ms-input-placeholder,  /* Internet Explorer 10-11 */
.write-us textarea::placeholder {
	color: #464646;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;

}

.write-us .button,
.catalog-filter .button {
	width: 200px;
}

.map {
	width: 960px;
	height: 559px;
}

.popup-close {
	position: absolute;
	top: 22px;
	right: 22px;
	font-size: 0;
	width: 55px;
	height: 55px;
	border: none;
	background-color: transparent;
	background-image: url("../img/modal-close.svg");
	background-repeat: no-repeat;
	opacity: 0.5;
}

.popup-close:hover {
	opacity: 1;
}

.popup-close:active {
	opacity: 0.3;
}

.main-page-title {
	padding: 0;
	margin-top: 40px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 60px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 47px;
	line-height: 48px;
}
.breadcrumbs {
	padding: 0;
	margin-top: 25px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 60px;
	display: flex;
}

.breadcrumbs li {
	margin-right: 38px;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li:last-child {
	margin-right: 0;
}

.breadcrumbs a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}

.inner-content-container {
	display: flex;
	justify-content:  center;
	margin-top: 50px;
}

.inner-content-container::after {
	display: block;
	content: "";
	width: 50%;
}

.free-space {
	width: 50%;
	background-color: #efefef;
}

.free-space::before {
	display: block;
	content: "";
	height: 70px;
	background-color: #dcdcdc;
}

.inner-content-container::before {
	background-color: #efefef;
}

.left-column {
	background-color: #efefef;
}

.catalog-filter {
	width: 328px;
	background-color: #efefef;
}

.catalog-filter h3:first-child {
	margin: 0;
	padding: 0;
	margin-bottom: 69px;
	padding-left: 60px;
	background-color: #dcdcdc;
	line-height: 70px;
	vertical-align: middle;
}

.catalog-filter form {
	padding-left: 60px;
	padding-right: 68px;
}

.catalog-filter fieldset {
	border: none;
	margin: 0;
	padding: 0;
	background: none;
	margin-bottom: 40px;
}

.catalog-filter legend {
	padding: 0;
	padding-top: 9px;
	margin: 0;
	margin-bottom: 14px;
	width: 100%;
	display: block;
	border-top: 2px solid #000000;
}

.catalog-filter label {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 40px;
	font-weight: 300;
	color: #000000;
}

.catalog-filter li {
	margin: 0;
	padding: 0;
}

.filter-checkbox,
.filter-radio {
	position: relative;
	padding-left: 40px;
	cursor: pointer;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
	background-image: url("../img/checkbox-on.svg");
}

.filter-radio input[type="radio"] + .radio-indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
}

.filter-radio input[type="radio"]:checked + .radio-indicator {
	background-image: url("../img/radio-on.svg");
}

.right-column{
	padding-left: 72px;
}

.products-list {
	width: 760px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.shop-list-item-title {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

.shop-list-item-title a {
	display: block;
	text-decoration: none;
	width: 260px;
}

.shop-list-item-title .price {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.shop-list-item-image:hover {
	opacity: 0.6;
}

.addtocompare {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 36px;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
}

.item-popup {
	display: none;
}

.addtocart {
	width: 200px;
	margin-bottom: 14px;
}

.addtocompare:hover {
	color: #000000;
}

.addtocompare:active {
	color: rgba(0, 0, 0, 0.2);
}

.shop-list-item {
	position: relative;
	width: 360px;
	margin-right: 40px;
	margin-bottom: 75px;
}

.shop-list-item:hover .item-popup {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 360px;
	height: 200px;
	top: 118px;
	left: 0;
}

.shop-list-item:nth-child(2n) {
	margin-right: 0;
}

.shop-list-item.new::before {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 58px;
	text-transform: uppercase;
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	content: "New";
	width: 56px;
	height: 56px;
	border: 2px solid #000000;
	border-radius: 50%;
	text-align: center;
	opacity: 0.1;
}

.promo-slider-list {
	font-size: 0;
}

.promo-slider-list-item {
	width: 14px;
	height: 14px;
	background-image: url("../img/slider-button-empty.svg");
	background-repeat: no-repeat;
}

.promo-slider-list-current {
	background-image: url("../img/slider-button.svg");
}

.promo-slider-number {
	font-size: 179px;
	line-height: 179px;
	text-transform: uppercase;
	color: #ffffff;

/*временно для видимости на белом фоне*/
	background-color: #f7e296;
}

.promo-slider p {
	margin: 0;
	padding: 0;
}

.promo-slider-slogan {
	font-size: 47px;
	line-height: 56px;
}

.item-characteristic-value {
	font-size: 36px;
	line-height: 48px;
}

.item-characteristic-name {
	font-size: 13px;
	line-height: 20px;
}

.promo-slider .button {
	width: 220px;
}

.catalog-list-item {
	display: block;
	width: 160px;
	min-height: 160px;
	background-color: #f7e296;
	text-decoration: none;
}

.catalog-list-item:hover {
	background-color: #f0c52e;
}

.catalog-list-item:active h3 {
	color: rgba(0, 0, 0, 0.3);
}

.catalog-list-item:active img {
	opacity: 0.3;
}

.catalog-list-item h3 {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}


.services {
	background-color: #e5e5e5;
}
.services-list .button {
	width: 160px;
}

.services .services-list-current,
.services-list .button:active {
	width: 280px;
	color: #f7e184;
	background-color: #000000;
	opacity: 0.99;
	text-align: left;
	padding-left: 25px;
}

.services-list-current::before {
	display: none;
}

.services-description h3 {
	font-size: 47px;
	line-height: 48px;
}

.companies-list-item {
	position: relative;
	display: block;
	width: 260px;
	height: 100px;
	overflow: hidden;
}

.companies-list-item:hover .companie-image {
	position: absolute;
	top: 100px;
	left: 0;
}

.companies-list-item:hover .companie-image-color {
	position: absolute;
	top: 0;
	left: 0;
}

.catalog-sorting {
	margin-bottom: 70px;
}

.catalog-sorting-types {
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
}

.catalog-sorting-types li:hover {
	color: rgba(0, 0, 0, 0.6);
}

.catalog-sorting-types li:active {
	color: rgba(0, 0, 0, 1);
}

.catalog-sorting-button {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	font-size: 0;
	width: 11px;
	height: 10px;
	opacity: 0.2;
}

.catalog-sorting-button:hover {
	opacity: 0.4;
}

.catalog-sorting-button.active,
.catalog-sorting-button:active {
	opacity: 1;
}

.button-up {
	background-image: url("../img/icon-up-dir.svg");
	background-repeat: no-repeat;
}

.button-down {
	background-image: url("../img/icon-down-dir.svg");
	background-repeat: no-repeat;
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	background-color: #ebebeb;
}

.pagination a {
	text-decoration: none;
}

.pagination-button {
	display: block;
	line-height: 70px;
	vertical-align: middle;
	text-align: center;
	width: 126px;
	color: #000000;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.button-prev {
	order: -1;
}

.pagination-button:hover {
	background-color: #d9d9d9;
}

.pagination-button:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d9d9d9;
}

.pagination-list {
	display: flex;
}

.pagination-list li {
	margin-right: 33px;
}

.pagination-list li:last-child {
	margin-right: 0;
}

.pagination-list a {
	color: rgba(0, 0, 0, 0.3);
}

.pagination-list-item-current a {
	color: rgba(0, 0, 0, 1);
}

.pagination-list a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.pagination-list a:active {
	color: rgba(0, 0, 0, 1);
}

.catalog-filter-price-range {
	position: relative;
	height: 48px;
	width: 200px;
	opacity: 0.99;
}

.catalog-filter-price-range::before,
.catalog-filter-price-range::after {
	position: absolute;
	top: 9px;
	left: 0px;
	z-index: -1;
	display: block;
	content: "";
	width: 200px;
	height: 2px;
	background-color: #dbdbdb;
}

.catalog-filter-price-range::after {
	background-color: #91c92f;
	width: 130px;
}

.price-range {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
}

.price-max {
	left: 100px;
}

.price-range span {
	color: rgba(0, 0, 0, 0.2);
}

.price-range::before {
	cursor: pointer;
	display: block;
	content: "";
    width: 20px;
	height: 23px;
	background-color: transparent;
	background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat;
	margin: 0 auto;
}

.price-range-left::before {
	margin-left: -10px;
}

/*Крайнее правое положение ддвойного ползунка
.price-range-right {
	left: auto;
	right: 0;
}

.price-range-right::before {
	margin-right: -10px;
}

.catalog-filter-price-range::after {
	background-color: #91c92f;
	width: 190px;
}
*/
