@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
		 url("../fonts/gilroyextrabold.woff") format("woff");
		
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroylight.woff2") format("woff2"),
		 url("../fonts/gilroylight.woff") format("woff");
			
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inner-page {
	color: #000000;
}

.inner-page h3 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 4px;
	text-transform: uppercase;
}

.font-osl {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	letter-spacing: 0.2px;
}

.font-ge,
.button {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2px;
	color: #000000;
}

.font-gl {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.3px;
	color: #000000;
}

.custom-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.button {
	position: relative;
	box-sizing: border-box;
	display: block;
	color: #000000;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	border: none;
	background-color: transparent;
	opacity: 0.99;
	padding: 0;
	margin: 0;
	line-height: 40px;
	height: 40px;
}

.button::before {
	position: absolute;
	margin-top: -4px;
	top: 50%;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	content: "";
	width: 100%;
	height: 8px;
	background-color: #f0c52e;
}

.button:hover::before {
	display: none;
}

.button:hover {
	background-color: #f0c52e;
	cursor: pointer;
}

.button:active {
	color: rgba(0, 0, 0, 0.3);
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.main-header {
	width: 1040px;
	margin: 0 auto;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	flex-wrap: wrap;
	background-color: #f7e296;
	padding-top: 42px;
	padding-right: 60px;
	padding-bottom: 40px;
	padding-left: 60px;
	min-height: 217px;
}

.inner-page .main-header {
	min-height: 104px;
}

.main-header a {
	color: #000000;
	text-decoration: none;	
}

.user-menu-secondary {
	opacity: 0.3;
}

.main-logo {
	position: absolute;
	top: 22px;
}

.main-logo:hover {
	opacity: 0.6;
}

.main-logo:active {
	opacity: 0.3;
}

.main-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 1040px;
	margin-top: 16px;
}

.user-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 500px;
	min-height: 50px;
}

.user-menu a:hover,
.user-menu a:focus {
	opacity: 0.6;
}

.user-menu a:active {
	opacity: 0.3;
}

.user-menu-logout a {
	margin-right: 15px;
}

.user-menu-logout a:last-child {
	margin-right: 0;
}

.user-menu li{
	margin-left: 37px;
}

.user-menu li:first-child {
	margin: 0;
	flex-grow: 1;
}

.user-menu a {
	position: relative;
	text-decoration: none;
}

.user-menu a::before {
	position: absolute;
	bottom : 3px;
	left: 3px;
	display: block;
	content: "";
}

.user-menu-login a,
.user-menu-logout .user-menu-profile {
	padding-left: 27px;
}

.user-menu-login a::before,
.user-menu-logout .user-menu-profile::before {
	background-image: url("../img/user.svg");
	background-repeat: no-repeat;
	width: 13px;
	height: 12px;
}

.user-menu-compare a {
	padding-left: 23px;
}

.user-menu-compare a::before {
	background-image: url("../img/compare.svg");
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}

.user-menu-cart a {
	padding-left: 25px;
}

.user-menu-cart a::before {
	background-image: url("../img/cart.svg");
	background-repeat: no-repeat;
	width: 12px;
	height: 12px;
}

.search-form {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 540px;
	height: 50px;
}

.search-input {
	display: block;
	width: 290px;
	height: 32px;
	color: rgba(0, 0, 0, 1);
	background-color: transparent;
	border: none;
	outline: none;
	padding-left: 38px;
	padding-right: 35px;
	background-image: url("../img/search.svg");
	background-repeat: no-repeat;
	background-position: 2px 9px;
}

.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.3);
  opacity: 1; /* Firefox */
}

.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.3);
}
.search-input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.3);
}

.search-input:hover::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.6);
  opacity: 1; /* Firefox */
}

.search-input:hover:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.6);
}
.search-input:hover::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.6);
}

.search-input:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 1);
  opacity: 1; /* Firefox */
}

.search-input:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 1);
}
.search-input:focus::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 0, 0, 1);
}

.search-input:focus {
	border-bottom: 2px solid #000000;
	padding-bottom: 11px;
}

.search-button {
	display: none;
	color: #000000;
	width: 81px;
	height: 46px;
	background-color: transparent;
	border: 2px solid #000000;
}

.search-button:hover {
	color: #ffffff;
	background-color: #000000;
}

.search-button:active {
	color: rgba(255, 255, 255, 0.3);
}

.search-input:focus + .search-button {
	display: block;
}

.catalog-menu,
.site-navigation {
	display: flex;
	flex-wrap: wrap;
}

.catalog-menu {
	width: 540px;
}

.site-navigation {
	width: 500px;
	justify-content: flex-end;
}

.site-navigation-item {
	text-transform: uppercase;
	letter-spacing: 3.5px;
}

.site-navigation li:last-child {
	margin-right: -3.5px;
	margin-left: auto;
}

.site-navigation-item:hover,
.site-navigation-item:focus {
	opacity: 0.6;
}

.site-navigation-item:active {
	opacity: 0.3;
}

.item-container {
	position: relative;
	padding-right: 33px;
}

.item-container::after {
	position: absolute;
	right: 4px;
	bottom: 3px;
	display: block;
	content: "";
	width: 16px;
	height: 16px;
	background-image: url("../img/plus.png");
	background-repeat: no-repeat;
}

.site-navigation-catalog {
	position: relative;
}

.site-navigation > li {
	margin-right: 36px;
}

.catalog-sub-menu {
	display: none;
	position: absolute;
	z-index: 10;
	left: -60px;
	width: 1040px;
	background-color: #f7e296;
	margin: 0;
	padding-top: 13px;
	padding-left: 60px;
	padding-bottom: 40px;
	padding-right: 60px;
}

.site-navigation-catalog:hover .catalog-sub-menu {
	display: flex;
}

.catalog-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.catalog-list a:hover,
.catalog-list a:focus {
	opacity: 0.6;
}

.catalog-list a:active {
	opacity: 0.3;
}

.catalog-list li {
	white-space: nowrap;
	margin-top: 6px;
	width: 200px;
}

.catalog-category-1 {
	width: 237px;
}

.info-block-container {
	display: flex;
	justify-content: space-between;
	margin-top: 90px;
}

.info-block {
	width: 560px;
}

.info-block::before {
	display: block;
	content: "";
	width: 80px;
	height: 7px;
	background-color: #000000;
}

.info-block h2 {
	margin: 0;
	margin-top: 45px;
	padding: 0;
	margin-bottom: 54px;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
}

.info-block p {
	margin: 0;
	padding: 0;
	color: #464646;
	margin-top: -10px;
	margin-bottom: 40px;
}

.info-block .button {
	width: 260px;
	margin-top: 59px;
}

.delivery {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 66px;
	margin-bottom: -5px;
}

.delivery li {
	position: relative;
	font-size: 16px;
	line-height: 40px;
	color: #000000;
	padding-left: 35px;
}

.delivery li::before {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -4px;
	display: block;
	content: "";
	width: 6px;
	height: 6px;
	border: 2px solid #e5e5e5;
	border-radius: 50%;
}

.main-footer {
	color: #ffffff;
	background-color: #464646;
	min-height: 193px;
	margin-top: 83px;
	padding-top: 62px;
	padding-bottom: 65px;
}

.inner-page .main-footer {
	margin-top: 75px;
}

.main-footer .container {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.main-footer .main-logo {
	position: static;
	order: -2;
	width: 163px;
	height: 35px;
}

.footer-address,
.footer-tel {
	margin: 0;
	padding: 0;
	width: 215px;
	display: inline-block;
	vertical-align: top;
}

.footer-tel {
	text-align: right;
	order: 1;
}

.main-footer-menu {
	width: 997px;
	order: -1;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.main-footer-menu li:first-child {
	text-align: right;
	margin-right: 5px;
}

.main-footer-menu li {
	margin-left: 36px;
}

.footer-login a::before,
.footer-login .user-menu-profile::before {
	background-image: url("../img/user-footer.svg");
	left: 0;
}

.footer-compare a::before {
	background-image: url("../img/compare-footer.svg");
}

.footer-cart a::before {
	background-image: url("../img/cart-footer.svg");
}

.main-footer-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 730px;
	justify-content: center;
	margin-bottom: 62px;
}

.main-footer-navigation li:last-child{
	margin: 0;
}

.main-footer a {
	text-decoration: none;
}

.main-footer-menu a {
	color: rgba(255, 255, 255, 0.7);
}

.main-footer-menu a:hover {
	color: rgba(255, 255, 255, 1);
}

.main-footer-menu a:active {
	color: rgba(255, 255, 255, 0.3);
}

.main-footer-navigation a {
	color: rgba(255, 255, 255, 1);
}

.main-footer-navigation a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.main-footer-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.social-links {
	width: 1103px;
	display: flex;
	justify-content: center;
	order: 2;
	padding-left: 30px;
}

.social-links li {
	margin-right: 23px;
}

.social-links li:last-child {
	margin-right: 0;
}

.social-links a {
	display: block;
	font-size: 0;
	width: 32px;
	height: 32px;
	opacity: 0.3;
	background-color: #464646;
	background-repeat: no-repeat;
}

.social-links-facebook a {
	background-image: url("../img/social-fb.svg");
}

.social-links-instagram a {
	background-image: url("../img/social-inst.svg");
}

.social-links-twitter a {
	background-image: url("../img/social-twitter.svg");
}

.social-links a:hover {
	opacity: 0.6;
}

.social-links a:active {
	opacity: 0.1;
}

.htmlacademy-logo {
	display: block;
	width: 27px;
	height: 35px;
	background-color: transparent;
	background-image: url("../img/htmlacademy-logo.svg");
	background-repeat: no-repeat;
	order: 2;
}

.htmlacademy-logo:hover {
	opacity: 0.6;
}

.htmlacademy-logo:active {
	opacity: 0.3;
}

.main-footer .container {
	position: relative;
}

.main-footer .container::before {
	display: block;
	content: "";
	position: absolute;
	left: 0;
	bottom: 14px;
	width: 80px;
	height: 7px;
	background-color: #ffc600;
}

.popup {
	position: relative;
}

.write-us {
	width: 760px;
	height: 378px;
	padding-top: 100px;
	padding-right: 100px;
	padding-bottom: 75px;
	padding-left: 100px;

}

.personal-info,
.user-message {
	margin: 0;
	padding: 0;
}

.user-message {
	margin-bottom: 30px;
}

.personal-info {
	width: 360px;
	float:left;
	margin-bottom: 40px;
}

.personal-info:first-child {
	margin-right: 40px;
}

.write-us label {
	float: left;
	color: #000000;
	width: 100%;
	margin-bottom: 8px;
}

.personal-info input {
	width: 100%;
}

.write-us textarea {
	width: 100%;
	min-height: 156px;
}

.write-us input,
.write-us textarea {
	box-sizing: border-box;
	border: none;
	background-color: #f2f2f2;
	opacity: 0.5;
	padding-top: 16px;
	padding-right: 20px;
	padding-bottom: 16px;
	padding-left: 20px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
}

.write-us input:hover,
.write-us textarea:hover {
	opacity: 0.8;
}

.write-us input:invalid,
.write-us textarea:invalid {
	opacity: 0.5;
	background-color: #edb5b5;
}

.write-us input:focus,
.write-us textarea:focus {
	opacity: 1;
	background-color: #ffffff;
	border: 3px solid #f0c52e;
	outline: none;
	padding-top: 13px;
	padding-right: 17px;
	padding-bottom: 13px;
	padding-left: 17px;
}

.write-us input::-webkit-input-placeholder, /* Edge */
.write-us input:-ms-input-placeholder,  /* Internet Explorer 10-11 */
.write-us input::placeholder,
.write-us textarea::-webkit-input-placeholder, /* Edge */
.write-us textarea:-ms-input-placeholder,  /* Internet Explorer 10-11 */
.write-us textarea::placeholder {
	color: #464646;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;

}

.write-us .button,
.catalog-filter .button {
	width: 200px;
}

.map {
	display: block;
	width: 960px;
	height: 559px;
}

.popup-close {
	position: absolute;
	top: 22px;
	right: 22px;
	font-size: 0;
	width: 55px;
	height: 55px;
	border: none;
	background-color: transparent;
	background-image: url("../img/modal-close.svg");
	background-repeat: no-repeat;
	opacity: 0.5;
}

.popup-close:hover {
	opacity: 1;
}

.popup-close:active {
	opacity: 0.3;
}

.main-page-title {
	padding: 0;
	margin-top: 35px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 60px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.6px;
}
.breadcrumbs {
	padding: 0;
	margin-top: 25px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 60px;
	display: flex;
	flex-wrap: wrap;
}

.breadcrumbs li {
	position: relative;
	margin-right: 16px;
	padding-right: 23px;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li:last-child {
	margin-right: 0;
}

.breadcrumbs li::after {
	display: block;
	position: absolute;
	top: 10px;
	right: 3px;
	content: "";
	width: 4px;
	height: 7px;
	background-image: url("../img/nav-arrow.svg");
	background-repeat: no-repeat;
}

.breadcrumbs li:last-child::after {
	display: none;
}

.breadcrumbs a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}

.inner-content-container {
	position: relative;
	display: flex;
	justify-content:  center;
	margin-top: 48px;
}

.inner-content-container::before {
	display: block;
	content: "";
	background-color: #efefef;
	border-top: 70px solid #dcdcdc;
	width: 50%;
}

.inner-content-container::after {
	display: block;
	content: "";
	width: 50%;
	height: 70px;
	background-color: #efefef;
}

.left-column {
	background-color: #efefef;
}

.catalog-filter {
	width: 328px;
	background-color: #efefef;
}

.catalog-filter h3:first-child {
	margin: 0;
	padding: 0;
	margin-bottom: 69px;
	padding-left: 60px;
	background-color: #dcdcdc;
	line-height: 70px;
	vertical-align: middle;
}

.catalog-filter form {
	padding-left: 60px;
	padding-right: 68px;
}

.catalog-filter fieldset {
	border: none;
	margin: 0;
	padding: 0;
	background: none;
	margin-bottom: 30px;
}

.catalog-filter-title {
	padding: 0;
	padding-top: 9px;
	margin: 0;
	margin-bottom: 26px;
	width: 100%;
	display: block;
	border-top: 2px solid #000000;
}

.filter-color {
	margin-bottom: 20px;
}

.filter-bluetooth {
	margin-bottom: 18px;
}

.catalog-filter label {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 40px;
	font-weight: 300;
	color: #000000;
}

.filter-option {
	margin: 0;
	padding: 0;
	padding-left: 40px;
}

.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
}

.filter-checkbox + label::before {
	position: absolute;
	display: block;
	content: "";
	top: 50%;
	left: -40px;
	margin-top:-12px;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}

.filter-checkbox:checked + label::before {
	background-image: url("../img/checkbox-on.svg");
}

.filter-radio + label::before {
	position: absolute;
	display: block;
	content: "";
	top: 50%;
	left: -40px;
	margin-top:-12px;
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
}

.filter-radio:checked + label::before {
	background-image: url("../img/radio-on.svg");
}

.filter-input + label:hover {
	opacity: 0.6;
}

.filter-input:disabled + label {
	opacity: 0.25;
	cursor: default;
}

.filter-input + label:active {
	opacity: 1;
}

.right-column{
	position: relative;
	padding-left: 72px;
}

.right-column::before {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	z-index: -1;
	background-color: #efefef;
}

.products-list {
	width: 760px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.shop-list-item-title {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

.shop-list-item-title a {
	display: block;
	text-decoration: none;
	width: 260px;
}

.shop-list-item-title .price {
	font-size: 16px;
}

.shop-list-item:hover .shop-list-item-image {
	opacity: 0.6;
}

.addtocompare {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 36px;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
}

.item-popup {
	display: none;
}

.addtocart {
	width: 200px;
	margin-bottom: 14px;
}

.addtocompare:hover {
	color: #000000;
}

.addtocompare:active {
	color: rgba(0, 0, 0, 0.2);
}

.shop-list-item {
	position: relative;
	width: 360px;
	margin-right: 40px;
	margin-bottom: 48px;
}

.shop-list-item:hover .item-popup {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 360px;
	height: 200px;
	top: 118px;
	left: 0;
}

.shop-list-item:nth-child(2n) {
	margin-right: 0;
}

.shop-list-item.new::before {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 58px;
	text-transform: uppercase;
	display: block;
	position: absolute;
	right: 26px;
	top: 29px;
	content: "New";
	width: 56px;
	height: 56px;
	border: 2px solid #000000;
	border-radius: 50%;
	text-align: center;
	opacity: 0.1;
}

.promo-sliders {
	width: 1160px;
	position: relative;
	margin-top: -114px;
	counter-reset: sliders;
}

.promo-slider-list {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	bottom: 145px;
	right: 82px;
	font-size: 0;
}

.promo-slider-item {
	display: flex;
}

.slider-column-left {
	display: flex;
	justify-content: space-around;
	flex-grow: 1;
}

.slider-column-right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
	position: relative;
	width: 510px;
	padding-top: 82px;
	margin-right: 50px;
	margin-left: 40px;
}

.slider-column-right::before {
	counter-increment: sliders;
	content: counter(sliders, decimal-leading-zero);
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	display: block;
	position: absolute;
	top: -11px;
	right: -1px;
	font-size: 179px;
	line-height: 179px;
	text-transform: uppercase;
	color: #ffffff;
}

.slider-column-right::after {
	display: block;
	content: "";
	position: absolute;
	top: 40px;
	left: 0;
	width: 100px;
	height: 7px;
	background-color: #ffffff;
}

.promo-slider-list-item {
	width: 12px;
	height: 12px;
	background-image: url("../img/slider-button-empty.svg");
	background-repeat: no-repeat;
	margin-left: 22px;
}

.promo-slider-list-item:first-child {
	margin-left: 0;
}

.promo-slider-list-current {
	background-image: url("../img/slider-button.svg");
}

.promo-slider-slogan {
	position: relative;
	margin: 0;
	margin-bottom: 20px;
	font-size: 47px;
	line-height: 56px;
}

.promo-slider-description {
	margin: 0;
	margin-bottom: 42px;
}

.promo-slider-features {
	order: 1;
	margin-top: 48px;
	border-collapse: collapse;
	border-spacing: 0;
	border-color: #ffffff;
}

.promo-slider-features tr {
	height: 35px;
}

.promo-slider-features td {
	width: 160px;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.promo-slider-features td:nth-child(2) {
	width: 140px;
}

.item-characteristic-value {
	font-size: 36px;
	line-height: 48px;
}

.item-characteristic-name {
	font-size: 13px;
	line-height: 20px;
}

.promo-slider-item .button {
	width: 220px;
}

.catalog-navigation {
	margin-top: 108px;
}

.catalog-navigation-list {
	display: flex;
	flex-wrap: wrap;
}

.catalog-list-item {
	display: flex;
	flex-direction: column;
	width: 160px;
	min-height: 160px;
	margin-right: 40px;
	margin-bottom: 85px;
	text-decoration: none;
}

li:nth-child(6) .catalog-list-item {
	margin-right: 0;
}

.catalog-list-image {
	margin: 0;
	margin-bottom: 34px;
	padding: 0;
	width: 160px;
	height: 160px;
	line-height: 160px;
	background-color: #f7e296;
	text-align: center;
	order: -1;
}

.catalog-list-image img {
	vertical-align: middle;
}

.high-image img {
	vertical-align: bottom;
}

.catalog-list-item:hover p {
	background-color: #f0c52e;
}

.catalog-list-item:active h3 {
	color: rgba(0, 0, 0, 0.3);
}

.catalog-list-item:active img {
	opacity: 0.3;
}

.catalog-list-item h3 {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	letter-spacing: 0.2px;
}

.services {
	margin-top: 95px;
	padding-bottom: 70px;
	background-color: #e5e5e5;
}

.services .container{
	display: flex;
	position: relative;
}

.services-list {
	margin-top: -100px;
	padding-top: 80px;
	padding-bottom: 46px;
	width: 277px;
	border-right: 7px solid #000000;
}

.services-list li {
	margin-bottom: 24px;
}

.services-list .button {
	width: 160px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
}

.services .services-list-current,
.services-list .button:active {
	width: 280px;
	color: #f7e184;
	background-color: #000000;
	opacity: 0.99;
	text-align: left;
	padding-left: 20px;
}

.services-list-current::before {
	display: none;
}

.services-description {
	margin-top: -20px;
	position: relative;
	padding-left: 118px;
	width: 757px;
}

.services-description h3 {
	margin-top: -6px;
	margin-bottom: 30px;
	padding: 0;
	font-size: 47px;
	line-height: 48px;
}

.services-description p {
	width: 460px;
}

.services-description img {
	position: absolute;
}

.delivery-service img {
	top: 5px;
	right: 66px;
}

.warranty-service img {
	top: -17px;
	right: 44px;
}

.credit-service img {
	top: -17px;
	right: 68px;
}

.companies {
	margin-top: 95px;
}

.companies-list{
	display: flex;
	justify-content: space-between;
}

.companies-list-item {
	position: relative;
	display: block;
	width: 260px;
	height: 100px;
	overflow: hidden;
}

.companies-list-item:hover .companie-image {
	position: absolute;
	top: 100px;
	left: 0;
}

.companies-list-item:hover .companie-image-color {
	position: absolute;
	top: 0;
	left: 0;
}

.catalog-sorting {
	display: flex;
	align-items: center;
	height: 70px;
	margin-bottom: 70px;
}

.catalog-sorting h3 {
	margin-right: 50px;
}

.catalog-sorting-types {
	display: flex;
	flex-grow: 1;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
}

.catalog-sorting-types li {
	margin-right: 29px;
}

.catalog-sorting-types li:hover {
	color: rgba(0, 0, 0, 0.6);
}

.catalog-sorting-types li:active {
	color: rgba(0, 0, 0, 1);
}

.catalog-sorting-button {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	font-size: 0;
	width: 11px;
	height: 10px;
	opacity: 0.2;
}

.catalog-sorting-button:hover {
	opacity: 0.4;
}

.catalog-sorting-button.active,
.catalog-sorting-button:active {
	opacity: 1;
}

.button-up {
	margin-right: 20px;
	background-image: url("../img/icon-up-dir.svg");
	background-repeat: no-repeat;
}

.button-down {
	background-image: url("../img/icon-down-dir.svg");
	background-repeat: no-repeat;
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	background-color: #ebebeb;
	margin-top: -10px;
}

.pagination a {
	text-decoration: none;
}

.pagination-button {
	display: block;
	line-height: 70px;
	vertical-align: middle;
	text-align: center;
	width: 126px;
	color: #000000;
	letter-spacing: 3.5px;
	text-transform: uppercase;
}

.button-prev {
	order: -1;
}

.pagination-button:hover {
	background-color: #d9d9d9;
}

.pagination-button:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d9d9d9;
}

.pagination-list {
	display: flex;
}

.pagination-list li {
	margin-right: 33px;
}

.pagination-list li:last-child {
	margin-right: 0;
}

.pagination-list a {
	color: rgba(0, 0, 0, 0.3);
}

.pagination-list-item-current a {
	color: rgba(0, 0, 0, 1);
}

.pagination-list a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.pagination-list a:active {
	color: rgba(0, 0, 0, 1);
}

.catalog-filter-price-range {
	position: relative;
	height: 48px;
	width: 200px;
	opacity: 0.99;
}

.catalog-filter-price-range::before,
.catalog-filter-price-range::after {
	position: absolute;
	top: 9px;
	left: 0px;
	z-index: -1;
	display: block;
	content: "";
	width: 200px;
	height: 2px;
	background-color: #dbdbdb;
}

.catalog-filter-price-range::after {
	background-color: #91c92f;
	width: 120px;
}

.price-range {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
}

.price-max {
	left: 88px;
}

.price-range span {
	color: rgba(0, 0, 0, 0.2);
}

.price-range::before {
	cursor: pointer;
	display: block;
	content: "";
	width: 20px;
	height: 23px;
	background-color: transparent;
	background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat;
	margin: 0 auto;
}

.price-range-left::before {
	margin-left: -6px;
}

/*Крайнее правое положение ддвойного ползунка
.price-range-right {
	left: auto;
	right: 0;
}

.price-range-right::before {
	margin-right: -10px;
}

.catalog-filter-price-range::after {
	background-color: #91c92f;
	width: 190px;
}
*/
